Host *
    IdentityFile ~/.ssh/{{ .SSHKeyName }}
    ServerAliveInterval 60
    ServerAliveCountMax 3
{{ if .IsDarwin }}
    IgnoreUnknown UseKeychain,AddKeysToAgent
    UseKeychain yes
    AddKeysToAgent yes
{{ end }}

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/{{ .SSHKeyName }}

# 사용자 커스텀 (git 미추적)
Include ~/.ssh/config.d/*
