Host *
    IdentityFile ~/.ssh/{{ .ssh_key_name }}
    ServerAliveInterval 60
    ServerAliveCountMax 3
{{ if .is_darwin }}
    IgnoreUnknown UseKeychain,AddKeysToAgent
    UseKeychain yes
    AddKeysToAgent yes
{{ end }}

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/{{ .ssh_key_name }}

# 사용자 커스텀 (git 미추적)
Include ~/.ssh/config.d/*
