# 기본 환경변수
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR="{{ if .IsDarwin }}code --wait{{ else }}nano{{ end }}"
export TZ="{{ .Timezone }}"

# PATH
export PATH="$HOME/.local/bin:$PATH"
{{ if .IsDarwin -}}
export PATH="/opt/homebrew/bin:$PATH"
{{ else -}}
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
{{ end -}}
